.titleBlock {
    top: 0px;
    text-align: center;
    padding: 0.5%;
    width: 100%;
}

.titleBlock h1 {

    margin-bottom: 0px;
    font-family: "Poppins";
}

/*.canvas {
    left: 25%;
    top: 20%;
    height: 20rem;
    width: 50rem;
    border: 1px solid grey;
    position: absolute;
    alignment: center;
    resize: both;
    overflow: auto;

}
*/

canvas {
    width: 100%;
    background-color: aliceblue;
    padding: 0%;
}
nav {
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins";
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

#index #nav .index, #plans #nav .plans, #sections #nav .sections,
#analysis #nav .analysis, #schedules #nav .schedules {
    font-weight: bolder;
    font-style: oblique;

}

.text-box {
    font-family: Poppins;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%,50%);
    position: absolute;
}

.ground h2 {
    font-family: Poppins;
    text-align: center;
    font-size: 30px;
    margin-top: -50px;
}

.ground h1 {
    font-family: Poppins;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 50px;
}

.ground h3 {
    font-size: 30px;
    font-family: Poppins;
    margin-top: -50px;
}

.ground h4 {
    font-size: 30px;
    font-family: Poppins;
    margin-top: -100px;
}

.ground h5 {
    font-size: 30px;
    font-family: Poppins;
    margin-top: -175px;
}

.ground h6 {
    font-size: 30px;
    font-family: Poppins;
    margin-top: -150px;
}

.section h1 {
    font-family: Poppins;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 50px;
}

.section h2 {
    font-family: Poppins;
    font-weight: bolder;
    font-size: 30px;
    margin-top: -100px;
}

.section h3 {
    font-family: Poppins;
    font-weight: bolder;
    font-size: 30px;
    margin-top: -50px;
}

.ground h7 {
    font-family: Poppins;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 0px;
}

.ground h8 {
    font-family: Poppins;
    font-weight: bolder;
    font-size: 30px;
    text-indent: 200px;
}







