.titleBlock {
    top: 0px;
    text-align: center;
    padding: 0.5%;
}

h1 {
    margin-left: 2.5vw;
    margin-bottom: 0px;
    font-family: "Poppins";
}

/*.canvas {
    left: 25%;
    top: 20%;
    height: 20rem;
    width: 50rem;
    border: 1px solid grey;
    position: absolute;
    alignment: center;
    resize: both;
    overflow: auto;

}
*/
nav {
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins";
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

#index #nav .index, #plans #nav .plans, #sections #nav .sections,
#analysis #nav .analysis, #schedules #nav .schedules {
    font-weight: bolder;
    font-style: oblique;

}
