
.titleBlock {
    /* This is a comment */
    color: #1d42ad;
    font-family: "Arial Narrow";
    font-size: 40px;
    position: absolute;
    top: 100px;
    left: 200px;
    background: white;
    width: 80vw;
    height: 50vh;
}

h1{
    color: #1d42ad;
}

.canvas {
    width: 80vw;
    height: 50vw;
    background: yellow;
    margin-left: 10vw;
}

